header {
    padding: 10px 0;
}

header a {
    font-size: 1.8em;
    color: #fff;
}

#menu a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .3s;
}
#menu a:hover, #menu a:focus {
    background-color: var(--primary-color);
    transform: translateY(-2px);
}